*
!*.wrap
!packagefiles/
!packagefiles/*/
!packagefiles/*/*
!packagefiles/*/*/
!packagefiles/*/*/*
!packagefiles/*/*/*/
!packagefiles/*/*/*/*
!packagefiles/*/*/*/*/
!packagefiles/*/*/*/*/*
!packagefiles/*/*/*/*/*/
!packagefiles/*/*/*/*/*/*
!packagefiles/*/*/*/*/*/*/
!packagefiles/*/*/*/*/*/*/*
!packagefiles/*/*/*/*/*/*/*/
!packagefiles/*/*/*/*/*/*/*/*
!packagefiles/*/*/*/*/*/*/*/*/
!packagefiles/*/*/*/*/*/*/*/*/*
!packagefiles/*/*/*/*/*/*/*/*/*/
!packagefiles/*/*/*/*/*/*/*/*/*/*
!.gitignore